<div class="col s12" style="margin: 50px auto;" id="info"></div> 
<h3>Files:</h3>
<div id="list" class="row"></div>
<p id="no-results">No files found</p>

<script>
  const torrent = {{{ json torrent }}};
  $(document).ready(_ => {
    const nor = $('#no-results');
    const list = $('#list');
    const info = $('#info');

    info.html(`<div class="card grey darken-3 white-text">
    <div class="card-content">
      <span class="card-title">${torrent.name} - ${size2string(torrent.size)}</span>
      <p>Peers: ${torrent.peers}</p>
      <p>
        Share: <a href="{{host}}/explorer/${torrent.infoHash}">{{host}}/explorer/${torrent.infoHash}</a>
      </p>
    </div>
    <div class="card-action">
      <a download="${torrent.name}.zip" class="green-text text-darken-3" href="/torrent/download/${torrent.infoHash}" target="_blank">Download ZIP [BETA]</a>
      <a download="${torrent.name}.m3u" class="orange-text text-darken-3" href="/torrent/playlist/${torrent.infoHash}" target="_blank">Download Playlist File [.m3u]</a>
    </div>
  </div >`)

    if (torrent.files.length === 0) list.hide();
    else {
      nor.hide();
      for (let f of torrent.files) {

        const url = `/${torrent.infoHash}/${f.index}`;

        list.append(`<div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">${f.name} - ${size2string(f.size)}</span>
              <p>Type: ${f.type}</p>
              <p>Path: ${f.path}</p>
              <p>Stream URL: <a href="{{host}}/torrent/stream${url}">{{host}}/torrent/stream${url}</a></p>
            </div>
            <div class="card-action">
              <a href="/torrent/stream${url}" download="${f.name}" class="green-text text-darken-3" target="_blank">Download</a>  
              ${
          f.type.startsWith('video') || f.type.startsWith('audio')
            ? `<a href="/player${url}" class="purple-text text-darken-3">Video Player</a>` : ""}
            </div >
          </div >
        </div > `);
      }
    }
  });

  function size2string(n) {
    const types = ['bytes', 'Kb', 'Mb', 'Gb', 'Tb'];
    let size = n;
    let i = 0;
    while (size >= 1024) {
      size /= 1024;
      i++;
    }
    return `${parseFloat(size).toFixed(2)} ${types[i] || '?'}`;
  }
</script>