<h4 style="color: #eee;">
  {{torrent.name}} - {{file.name}} - {{size file.size}} - Peers: {{torrent.peers}}
</h4>
<a href="{{host}}/explorer/{{torrent.infoHash}}#File{{fileIndex}}">Back</a>
<div style="margin: 5em 0;">
  <video id="player" src="/api/torrent/stream/{{torrent.infoHash}}/{{fileIndex}}">
    <track kind="subtitles" id="subtitle" label="Built-in" src="" srclang="auto" default />
  </video>
</div>

<div style="margin: 5em 0;">
  <div class="input-field">
    <input type="text" name="subtitle" placeholder="subtitle_file_uri.vtt" id="subtitle_uri">
    <label for="subtitle">Subtitle</label>
  </div>
  <button class="btn blue right" id="subtitle_btn">Set Subtitle</button>
</div>

<div class="input-field">
  <input type="text" name="stream" value="{{host}}/api/torrent/stream/{{torrent.infoHash}}/{{fileIndex}}" readonly>
  <label for="stream">Stream</label>
</div>
<div class="input-field">
  <input type="text" name="share" value="{{host}}/player/{{torrent.infoHash}}/{{fileIndex}}" readonly>
  <label for="share">Share</label>
</div>
<div class="input-field">
  <input type="text" name="expore" value="{{host}}/explorer/{{torrent.infoHash}}" readonly>
  <label for="expore">Explore The Torrent File</label>
</div>

<script>
  const controls = [
    'play-large', // The large play button in the center
    'rewind', // Rewind by the seek time (default 10 seconds)
    'play', // Play/pause playback
    'fast-forward', // Fast forward by the seek time (default 10 seconds)
    'progress', // The progress bar and scrubber for playback and buffering
    'current-time', // The current time of playback
    'duration', // The full duration of the media
    'mute', // Toggle mute
    'volume', // Volume control
    'captions', // Toggle captions
    'settings', // Settings menu
    'fullscreen', // Toggle fullscreen
  ];

  const $player = new Plyr("#player", {
    controls
  });
  $player.touch = true;

  subtitle_btn.addEventListener('click', e => {
    subtitle.src = $(subtitle_uri).val();
    captionator.captionify(player);
  });
</script>